#homeh1 {
    color: white;
    margin-left: 4rem;
    font-family: Arial;
    line-height: 0.1;
  }

  @media (max-width: 767px){
    #homeh1 {
        color: white;
       margin-top: -2.5rem;
       margin-left: 3rem;
        font-family: Arial;
        line-height: 0.1;
        font-size: 0rem;
        
      }
  }

#Home {
    display: flex;
    flex-wrap:wrap;
}
h2 {
    color: white;
    padding-left: 70px;
    font-family: Arial;
}

.abtme {
    margin-left: 2rem;
}

@media (max-width: 767px) {

   #cartoon{
    width:15rem!important; 
    height: 11rem!important;
    margin-top: 1rem!important;
    margin-left: -2rem!important;
   
   }  
   
   #Home {
    margin-bottom: -6rem;
   }
}
#cartoon {
    width:28rem; 
    height: 22rem;
    margin-top: -2rem;
    margin-left: 12rem;
}

#btn1{
    padding-top: 20px;
    padding-left: 80px;
}
.AboutP {
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}
#abouth1 {
    text-align: center;
    color: #317773;
}
#skillsh1 {
    text-align: center;
    color: #317773;
}
#skillsh3 {
    text-align: center;
    color: white;
}
#skillsD {
   justify-content: center;
   align-items: center;
}
    
#skillsD2 {
    
    margin-left: 5rem;
}

@media (max-width: 767px) {
    #skillsD2
    {
        margin-left: 0rem;
        margin-right: 25%;
    }
} 
    
button {
    height: 40px;
    width :150px;
}
label {
    color: white;
}
#projecth1 {
    text-align: center;
    color: #317773;
    
}
#card1 {
    align-items: center;
    justify-content: center;
    /* padding-left: 100px;
    padding-right: 850px; */
} 
.card {
    background-color: #161919!important;
    color: white!important;
   
}

.cardText {
    height: 12rem;
}
#Workh1 {
    text-align: center;
    color: #317773;
}
#exph1 {
    text-align: center;
    color: #317773;
}
.li1 {
    display: inline;
    padding: 160px;
    color: white;
    font-size: 22px;
}
#sde {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#div2 {
    margin-left: 3rem;
    color: white;
}

@media (max-width: 767px) {
    #sde {
        /* display: inline-flex;  */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    #img1 {
        width:12rem!important; 
        height: 10rem!important;
        margin-left: 2rem!important;
        margin-bottom: 2rem;
        
    }

    .li1 {
        display: flex;
       padding: 1px;
        margin: 0.2rem;
        color: white;
        font-size: 1rem;
    }
    .cardText {
        height: 18rem;
    }
    
   
} 
@media (max-width: 400px) and (min-width: 200px){
.abtme{
   margin-top: 1rem;
    margin-left: 0rem;
    
   }

.workme {
   margin-top: 1rem;
margin-right: 1rem;
}


}

#img1 {
    width:28rem; 
    height: 22rem;
    margin-left: 6rem;
}

#header4 {
    font-size: 1rem;
    margin-left: 0rem;
}
#anch, #anch2 {
    text-decoration: none;
}
#soc1 {
    padding-left: 50px;
}
#soc {
    padding-right: 20px;
}

.formInput {
    background-color: #6c757d;
    color:white;
    border-color: #6c757d;
    padding: 8px 27px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

