.main {
 
  background-image: url("https://e0.pxfuel.com/wallpapers/931/933/desktop-wallpaper-c-developer-developer-html-developer-and-web-developer-dark-developer-thumbnail.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
